
<h1>Detail Calendar</h1>
<p>We hold seminars throughout the year pertaining to the various aspects of web development, from HTML to Ruby on Rails. Below you will find the calendar for such seminars. Keep in mind that we plan the seminars conveniently for our members, so should your schedule have a conflict that other members are likely to be afflicted with, please send us an e-mail.</p>

<div class = "calendar-container">
	<iframe src="https://www.google.com/calendar/embed?title=U%20of%20T%20Web%20development%20club&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=uoftwebdev%40gmail.com&amp;color=%232952A3&amp;src=en.canadian%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FToronto" style=" border-width:0 " width="700" height="600" frameborder="0" scrolling="no"></iframe> 
</div>
