
<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
		
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag "banner/learning.png"%>
			<div class="carousel-caption">
				<p>We provide seminars for our members to learn, catering to even more novice programmers.</p>
			</div>
		</div>
		
		<div class="item">
			<%= image_tag "banner/social.png"%>
			<div class="carousel-caption">
				<p>We maintain an atmosphere conducive for making like-minded friends who are interested in web development.</p>
			</div>
		</div>
			
		<div class="item">
			<%= image_tag "banner/networking.png"%>
			<div class="carousel-caption">
				<p>We facilitate industry connections for our members.</p>
			</div>
		</div>
	</div>
	
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

