<div class="container">
	<div class="row page_content">
		<div class="span5" valign="center">
			<%= image_tag "logo.jpg", :class => "logo"%>
		</div>
		<div class="span7" align="center">
			<div class="navbar menu">
				<%= render :file => "nav_bar"%>
			</div>
		</div>
	</div>
	<div class="navbar-fixed-bottom footer">
		<a href="https://twitter.com/UofTWebDev" align="left"><%= image_tag "twitter.png"%></a>
		<a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252"><%= image_tag "facebook.png"%></a>
	</div>
</div>