<div class="container">
	<div class="row page_content">
		<div class="span5" valign="center">
			<%= image_tag "logo.jpg", :class => "logo"%>
		</div>
		<div class="span7" align="center">
			<div class="navbar menu">
				<div class="navbar-inner">
					<ul class="nav">
						<li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li>
									<a href="#"> FAQ </a>
								</li>
								<li>
									<a href="#">Seminar Schedule </a>
								</li>
								<li>
									<a href="#">Seminar Archive </a>
								</li>
								<li>
									<a href="#">Learn Ahead </a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav">
						<li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li>
									<a href="#">Coming Soon</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav">
						<li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Events</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li>
									<a href="#">Upcoming </a>
								</li>
								<a href="#">Past </a>
								<br>
							</ul>
						</li>
					</ul>
					<ul class="nav">
						<li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> About Us </a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<a href="#">Exec Team</a>
								<br>
								<a href="#">Sponsors</a>
								<br>
							</ul>
						</li>
					</ul>
					<ul class="nav">
						<li>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Contact Us </a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<a href="#">Contact Info</a>
								<br>
								<a href="#">Anonymous Feedback</a>
								<br>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="navbar-fixed-bottom footer">
			<a href="https://twitter.com/UofTWebDev" align="left"><%= image_tag "twitter.png"%></a>
			<a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252"><%= image_tag "facebook.png"%></a>
		</div>
	</div>
</div>