.navbar-inner {
	text-align: center;
	border-color: #0072A6;
}

.navbar-fixed-top{
	border-color: #0072A6;
	padding: 0px;
}

.navbar {
	position:fixed;
	text-align: center;
}

.navbar .nav,
.navbar .nav > li {
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	*zoom: 1; /* hasLayout ie7 trigger */
}

body {
	padding: 3%
}
