// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inner {
  background: #ffffff;
  border-color: #0072A6;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #EFF5FC;
  color: #FF9999;
}

.footer{
 text-align:center;
 padding-bottom: 5%;
}

.page_content{
 padding-top: 20%;
}

.menu{
  padding-top: 15%;
}