<h1>
	About us
</h1>
<p class="lead">
	The U of T Web Development Club is a growing student led community of Web developers, entrepreneurs and designers. The club focuses around its student led seminars designed to teach and assist new and experienced developers with up to date, industry approved development tools and languages.
</p>
<p class="lead">
	U of T Web Development Club also promotes the growing start-up culture inside the city of Toronto and brings together new and experienced entrepreneurs in the exciting area of Web Development. The club is working on partnerships with accelerators and incubators and hopes to guide potential students towards their success.
</p>
<p class="lead">
	The tough economy is making it difficult for students to find summer jobs and internships. The Web Development Club hopes to assist Computer Science and Engineering students with strong web development skills for their future careers.
</p>