<p>Basic HTML about where to meet and up comming events</p>
<hr/>
<h1>Detail calendar</h1>
<iframe src="https://www.google.com/calendar/embed?title=U%20of%20T%20Web%20development%20club&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=uoftwebdev%40gmail.com&amp;color=%232952A3&amp;src=en.canadian%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FToronto" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe> 