<h1>Contact UofT WebDevClub</h1>
<p class="lead">
	Email us:	<a href="mailto:uoftwebdev@utoronto.ca">uoftwebdev@utoronto.ca</a>
</p>
<div class="row">
	<div class="span2">
		<p class="lead">
			<a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252">
				<%= image_tag "facebook.png"%>
			</a>	
		</p>
	</div>
	<div class="span2">
	<p class="lead">
		<a href="https://twitter.com/UofTWebDev">
			<%= image_tag "twitter.png"%>
		</a>
	</p>
	</div>
</div>
