<h1>Contact UofT WebDevClub</h1>
<p class="lead">
	Emails us :	<a href="mailto:lehoangminh@live.com">lehoangminh@live.com</a>
</p>
<p class="lead">
	Or like us on Fb	
</p>
<p class="lead">
	Follow on TW
</p>
