<h3>Current Team</h3>
<h4>Members</h4>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li>
			<a href="#exec_01" data-toggle="tab">Alan</a>
		</li>
		<li>
			<a href="#exec_02" data-toggle="tab">Minh</a>
		</li>
		<li>
			<a href="#exec_03" data-toggle="tab">Francesco</a>
		</li>
		<li>
			<a href="#exec_04" data-toggle="tab">Other Execs</a>
		</li>
	</ul>
	<div class="container">
		<div class="tab-content">
			<div class="tab-content">
				<div class="tab-pane active" id="exec_01">
					<div class="span3">
						Alan's PICTURE GOES HERE
					</div>
					<div class="span4 offset1">
						Alan's BIO GOES HERE
					</div>
				</div>
				<div class="tab-pane" id="exec_02">
					<div class="span3">
						Minh's PICTURE GOES HERE
					</div>
					<div class="span4 offset1">
						Minh's BIO GOES HERE
					</div>
				</div>
				<div class="tab-pane" id="exec_03">
					<div class="span3">
						Fran's PICTURE GOES HERE
					</div>
					<div class="span4 offset1">
						Fran's BIO GOES HERE
					</div>
				</div>
				<div class="tab-pane" id="exec_04">
					<div class="span3">
						Other's PICTURE GOES HERE
					</div>
					<div class="span4 offset1">
						Other's BIO GOES HERE
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
