<div class="jumbotron">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag "banner/learning.png"%>
				<div class="carousel-caption">
					<p>
						Come and learning about // add more please
					</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag "banner/social.png"%>
				<div class="carousel-caption">
					<p>
						Make friend with the like mindeed // add more please
					</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag "banner/networking.png"%>
				<div class="carousel-caption">
					<p>
						Create industry connections // add more please
					</p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
