<h3>List of learning resources</h3>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li>
			<a href="#exec_00" data-toggle="tab">Turorial made</a>
		</li>
		<li>
			<a href="#exec_01" data-toggle="tab">Web servers</a>
		</li>
		<li>
			<a href="#exec_02" data-toggle="tab">CSS</a>
		</li>
		<li>
			<a href="#exec_03" data-toggle="tab">JS</a>
		</li>
		<li>
			<a href="#exec_04" data-toggle="tab">ETC</a>
		</li>
	</ul>
	<div class="container">
		<div class="tab-content">
			<div class="tab-content">
				<div class="tab-pane active" id="exec_00">
					Tomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuffTomcat / stuff
				</div>
				<div class="tab-pane" id="exec_01">
					Tomcat / stuff
				</div>
				<div class="tab-pane" id="exec_02">
					Tomcat / stuff
				</div>
				<div class="tab-pane" id="exec_03">
					Tomcat / stuff
				</div>
				<div class="tab-pane" id="exec_04">
					Tomcat / stuff
				</div>
			</div>
		</div>
	</div>
</div>