<!DOCTYPE html>
<html>
	<head>
		<%= render :file => "layouts/head" %>		
		<%= stylesheet_link_tag "welcome_page", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "welcome_page", "data-turbolinks-track" => true %> 
	</head>
	<body>
		<%= yield %>
	</body>
</html>
