<%= stylesheet_link_tag "nav_bar", media: "all", "data-turbolinks-track" => true %>
<div class="navbar-inner">
	<ul class="nav">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li>
					<a href="#"> FAQ </a>
				</li>
				<li>
					<a href="#">Seminar Schedule </a>
				</li>
				<li>
					<a href="#">Seminar Archive </a>
				</li>
				<li>
					<a href="#">Learn Ahead </a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li>
					<a href="#">Coming Soon</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Events</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li>
					<a href="#">Upcoming </a>
				</li>
				<a href="#">Past </a>
				<br>
			</ul>
		</li>
	</ul>
	<ul class="nav">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> About Us </a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<a href="#">Exec Team</a>
				<br>
				<a href="#">Sponsors</a>
				<br>
			</ul>
		</li>
	</ul>
	<ul class="nav">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Contact Us </a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<a href="#">Contact Info</a>
				<br>
				<a href="#">Anonymous Feedback</a>
				<br>
			</ul>
		</li>
	</ul>
</div>
